{
  "arrowParens": "always",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "endOfLine": "lf",
  "experimentalTernaries": true,
  "plugins": [
    "prettier-plugin-tailwindcss"
  ],
  "printWidth": 100,
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": true,
  "tailwindFunctions": [
    "tv"
  ]
}